In [1]:
import pandas as pd
import numpy as np

In [2]:
sj = pd.read_csv('src/XGBoost/San Juan/sj_XGBoost_predictions.csv', index_col = 0)
iq = pd.read_csv('src/XGBoost/Iquitos/iq_XGBoost_predictions.csv', index_col = 0)

In [3]:
submission_file = pd.concat([sj, iq], axis = 0)
submission_file

      year  weekofyear  total_cases
city
sj    2008          18           65
sj    2008          19           14
sj    2008          20           14
sj    2008          21           19
sj    2008          22           36
...    ...         ...          ...
iq    2013          22            4
iq    2013          23            3
iq    2013          24            6
iq    2013          25            5
iq    2013          26            4

[416 rows x 3 columns]

In [4]:
submission_file.to_csv('submission_file.csv')